/* ----------- FONTS ----------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* ----------- RESETS ----------- */
* {
    box-sizing: border-box;
}

body, figure {
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


/* ----------- GLOBAL STYLE ----------- */

/* Colors */
:root {
    --blue: #57B2EB;
    --lightGrey: #F5F5F5;
    --grey: #6f6f6f;
    --darkGrey: #404040;
    --blueGrey: #C4D1DB;
}

/* Body */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--lightGrey);
    color: var(--darkGrey);
    font-weight: 300;
}

.display-none {
    display: none;
}

/* Text */
h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 300;
    padding-left: 1.5em;
    padding-top: 0.3em;
}

p {
    font-size: 16px;
}

/* Margin */
.margin-top-2 {
    margin-top: 2em;
}

.margin-top-1 {
    margin-top: 1em;
}

.margin-bottom-2 {
    margin-bottom: 2em;
}

.margin-left-1 {
    margin-left: 1.5em;
}

.margin-right-1 {
    margin-right: 1.5em;
}

/* Lien */
.btn {
    border-radius: 8px;
    padding: 0.6em 1.5em;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.btn-primary {
    border: 1px dashed var(--blueGrey);
    color: var(--grey);
    background-color: #fff;
}

.btn-secondary {
    color: var(--darkGrey);
    background-color: var(--blueGrey);
}

.btn-action {
    color: #fff;
    background-color: var(--blue);
}

 /* Icon */
i {
    color: var(--blueGrey);
    margin-right: 0.5em;
    margin-left: 0;
}

/* Separator */
hr {
    margin: inherit 0.5em;
    border: none;
    height: 1px;
    background-color: var(--blueGrey);
}


/* ----------- HEADER ----------- */
header {
    height: 50px;
    background-color: var(--blue);
    color: #fff;
}


/* ----------- SECTION ----------- */
section {
    padding: 0 1em;
}

/* Project */
.project {
    border-radius: 8px;
    padding: 0 0.5em;
    color: #fff;
    display: inline-block;
}

/* Filter */
.filter {
    display: flex;
}

.filter select {
    width: initial;
}

/* Stats */

.number {
    color: var(--blue);
    font-weight: 600;
}

/* Tasks */
.header-data {
    display: none;
}

.task {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 0.3em 1.5em;
    background-color: #fff;
}

.add-task .btn {
    padding: 1em 1.5em;
    text-align: left;
}

.add-project .btn {
    text-align: left;
}

.data-label {
    display: inline-block;
}

.delete {
    color: red;
}

.task-data, .project-data, .start-data, .end-data, .check-data, .action-data {
    padding: 0.5em 0;
}


/* ----------- RESPONSIVE ----------- */
@media (min-width: 768px){
    .header-data {
        display: flex;
    }

    .task {
        flex-direction: row;
        padding: 1em 1.5em;
    }

    .task-label, .task-data {
        width: 30%;
        padding: 0;
    }
    
    .project-label, .project-data, .start-label, .start-data, .end-label, .end-data, .check-label, .check-data {
        width: 15%;
        padding: 0;
    }
    
    .action-label, .action-data {
        width: 10%;
        padding: 0;
    }
    
    .data-label {
        display: none;
    }

    .add-project .btn {
        display: inline;
    }

    button.btn, .action .btn {
        width: initial;
    }

    .display-none {
        display: initial;
    }
}