<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}CanalTech{% endblock %}</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        {{ encore_entry_link_tags('app') }}

        {% block stylesheets %}
        {% endblock %}


        {{ encore_entry_script_tags('app') }}

        {% block javascripts %}
        {% endblock %}
    </head>

    <body>
		{% include "components/header.html.twig" %}

        <main>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% block body %}{% endblock %}
        </main>

    </body>

</html>
